body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  min-height: 100vh;
  padding: 15px;
  position: relative;
  background-color: #f5f5f5;
}

* {
  box-sizing: border-box;
}

.page-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 375px;
  height: 667px;
  margin: auto;
  background-color: #fff;
}

.sq-list {
  display: flex;
  flex-flow: column wrap;
  align-items: flex-start;
  justify-content: flex-start;
  background-color: green;
}

.sq-row {
  display: flex;
  flex-flow: row nowrap;
  align-items: flext-start;
  justify-content: flex-start;
}

.sq-item {
}
.sq-item:hover {
  background-color: rebeccapurple;
}
.sq-item--active {
  background-color: red;
}
